{% extends 'base.html' %}

{% block content %}
<h1>Welcome to tweetme</h1>
<div class="" id="tweets">
    Loading...
</div>

<script>
    const tweetElement = document.getElementById("tweets")
    const xhr = new XMLHttpRequest()
    const method = 'GET'
    const url = '/tweets'
    const responseType = 'json'

    function handleDidLike(tweet_id, currentCount) {
        console.log(currentCount)

    }

    function LikeBtn(tweet) {
        var likeBtnElement =
            `<button onclick="handleDidLike(${tweet.id}, ${tweet.likes})" class="btn btn-small btn-primary">
                ${tweet.likes} Likes
            </button>`
        return likeBtnElement
    }

    function formatTweetElement(tweet) {
        var formatedTweet =
            `<div class="mg-3 tweet" id="tweet-${tweet.id}">
                <p>${tweet.content}</p>
                <div class="btn-group">
                    ${LikeBtn(tweet)}
                </div>
            </div>`
        return formatedTweet
    }

    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function () {
        const serverResponse = xhr.response
        var listedItems = xhr.response.response
        var finalTweetStr = ""
        for (var i = 0; i < listedItems.length; i++) {
            var tweetObj = listedItems[i]
            var currentItem = formatTweetElement(tweetObj)
            finalTweetStr += currentItem
        }
        tweetElement.innerHTML = finalTweetStr



    }
    xhr.send()

</script>
{% endblock content %}