{% extends 'base.html' %}

{% block content %}

<div id="tweetme"></div>

<div class="jumbotron text-center d-none">
    <div class="col">
        <h2>Welcome to tweetme</h1>
    </div>
</div>

<div class="row mb-2 d-none">
    <div class="col-md-4 mx-auto col-10">
        <div class="d-none alert alert-danger" id="tweet-create-form-error"></div>
        <form class="form" id='tweet-create-form' method="POST" action="/create-tweet/">
            {% csrf_token %}
            <input type="hidden" name="next" value="/">
            <textarea required="required" class="form-control" name="content" placeholder="Your tweet..."></textarea>
            <button type="submit" class="my-2 btn btn-sm btn-primary">Tweet</button>
        </form>
    </div>
</div>



<div class="row d-none" id="tweets">
    Loading...
</div>

<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }


    function handleTweetFormError(msg, display) {
        var myError = document.getElementById("tweet-create-form-error")
        if (display === true) {
            myError.setAttribute("class", "d-block alert alert-danger")
            myError.innerText = msg
        } else {
            myError.setAttribute("class", "d-none alert alert-danger")
            myError.innerText = msg
        }
    }


    function handleTweetCreateFormDidSubmit(event) {
        event.preventDefault()
        const myForm = event.target
        const myFormData = new FormData(myForm)
        const url = myForm.getAttribute("action")
        const method = myForm.getAttribute("method")
        const xhr = new XMLHttpRequest()
        xhr.open(method, url)
        xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpREquest")
        xhr.setRequestHeader("X-Requested-With", "XMLHttpREquest")
        xhr.onload = function () {
            if (xhr.status === 201) {
                handleTweetFormError("", false)
                const newTweet = JSON.parse(xhr.response)
                const newTweetElement = formatTweetElement(newTweet)
                const ogHtml = tweetsContainerElement.innerHTML
                tweetsContainerElement.innerHTML = newTweetElement + ogHtml
                myForm.reset()
            } else if (xhr.status === 400) {
                const errorJson = JSON.parse(xhr.response)
                const contentError = errorJson.content
                let contentErrorMsg;
                if (contentError) {
                    contentErrorMsg = contentError[0]
                    handleTweetFormError(contentErrorMsg, true)
                } else {
                    alert("There was an error, pleas try again later.")
                }
            } else if (xhr.status === 401) {
                alert("You must login")
                window.location.href = "/login"

            } else if (xhr.status === 403) {
                alert("You must login")
                window.location.href = "/login"

            } else if (xhr.status === 500) { //podria ser un array the numeros
                alert("There was a server error, please try again later.")
            }

        }
        xhr.onerror = function () {
            alert("An error ocurred")
        }
        xhr.send(myFormData)
    }

    const tweetCreateFormEl = document.getElementById("tweet-create-form")
    tweetCreateFormEl.addEventListener("submit", handleTweetCreateFormDidSubmit)

    const tweetsContainerElement = document.getElementById("tweets")

    function loadTweets(tweetElement) {
        const xhr = new XMLHttpRequest()
        const method = 'GET'
        const url = '/tweets'
        const responseType = 'json'
        xhr.responseType = responseType
        xhr.open(method, url)
        xhr.onload = function () {
            const serverResponse = xhr.response
            var listedItems = serverResponse
            var finalTweetStr = ""
            for (var i = 0; i < listedItems.length; i++) {
                var tweetObj = listedItems[i]
                var currentItem = formatTweetElement(tweetObj)
                finalTweetStr += currentItem
            }
            tweetElement.innerHTML = finalTweetStr
        }
        xhr.send()
    }

    loadTweets(tweetsContainerElement)

    function handleTweetAction(tweet_id, currentCount, action) {
        console.log(currentCount)
        const url = "/api/tweets/action"
        const method = "POST"
        const data = JSON.stringify({
            id: tweet_id,
            action: action,
        })
        const xhr = new XMLHttpRequest()
        const csrftoken = getCookie('csrftoken');
        xhr.open(method, url)
        xhr.setRequestHeader("Content-Type", "application/json")
        xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpREquest")
        xhr.setRequestHeader("X-Requested-With", "XMLHttpREquest")
        xhr.setRequestHeader("X-CSRFToken", csrftoken)
        xhr.onload = function () {
            loadTweets(tweetsContainerElement)
        }
        xhr.send(data)
        return
    }

    function RetweetBtn(tweet) {
        var likeBtnElement =
            `<button onclick="handleTweetAction(${tweet.id}, ${tweet.likes},'retweet')" class="btn btn-sm btn-outline-success">
                Retweet
            </button>`
        return likeBtnElement
    }

    function UnlikeBtn(tweet) {
        var likeBtnElement =
            `<button onclick="handleTweetAction(${tweet.id}, ${tweet.likes},'unlike')" class="btn btn-sm btn-outline-primary">
                Unlike
            </button>`
        return likeBtnElement
    }

    function LikeBtn(tweet) {
        var likeBtnElement =
            `<button onclick="handleTweetAction(${tweet.id}, ${tweet.likes},'like')" class="btn btn-sm btn-primary">
                ${tweet.likes} Likes
            </button>`
        return likeBtnElement
    }

    function formatTweetElement(tweet) {
        var formatedTweet =
            `<div class="mx-auto mb-2 py-3 border rounded bg-tweet col-12 col-md-8 mg-3 tweet" id="tweet-${tweet.id}">
                <p>${tweet.content}</p>
                <div class="btn-group">
                    ${LikeBtn(tweet)}
                    ${UnlikeBtn(tweet)}
                    ${RetweetBtn(tweet)}
                </div>
            </div>`
        return formatedTweet
    }

</script>
{% endblock content %}